.mastered-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 4em);
}

#atom {
  --atom-size: 300px;
  position: relative;
  width: var(--atom-size);
  height: var(--atom-size);
  display: inline-block;
  margin: 10px auto;
}

#nucleus {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: auto;
  background-color: rgb(208, 249, 196);
  animation: glow ease-in 10s infinite, float ease-in-out 3s infinite;
  transform: scale(1.5);
}

@keyframes float {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-15px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes glow {
  0% {
    box-shadow: 0 0 10px 15px rgba(0, 0, 0, 0);
  }

  20% {
    box-shadow: 0 0 5px 10px rgba(175, 250, 154, 0.2);
  }
  40% {
    box-shadow: 0 0 5px 8px rgba(175, 250, 154, 0.2);
  }
  60% {
    box-shadow: 0 0 5px 10px rgba(175, 250, 154, 0.2);
  }
  80% {
    box-shadow: 0 0 5px 8px rgba(175, 250, 154, 0.2);
  }

  100% {
    box-shadow: 0 0 5px 15px rgba(0, 0, 0, 0);
  }
}
